{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>
<body>
    <h1>User Profile</h1>
    <div class="profile-details">
        <table>
            <tr>
                <td><strong>First Name:</strong></td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td><strong>Last Name:</strong></td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td><strong>Username:</strong></td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="{% url 'home' %}" class="home-button">Home</a>
                    <a href="{% url 'changeinfo' %}" class="home-button">Change Info</a>
                </td>
            </tr>
            <tr>
                <td>
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                
            </tr>
        </table>
    </div>
</body>
</html>
